# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


# Testing tools specific files
UnixCal/S_UnixCal.FTB
UnixCal/S_UnixCal.IND
UnixCal/S_UnixCal.IOL
UnixCal/S_UnixCal.MUT
UnixCal/S_UnixCal.PTM
UnixCal/S_UnixCal.TCS
UnixCal/S_UnixCal.lst
UnixCal/UnixCal
UnixCal/UnixCalCov
UnixCal/UnixCalCov-UnixCal.gcda
UnixCal/UnixCalCov-UnixCal.gcno
UnixCal/UnixCalCov-driver.gcda
UnixCal/UnixCalCov-driver.gcno
UnixCal/UnixCal_inst
UnixCal/__UnixCal.c
UnixCal/__UnixCal.cgr
UnixCal/__UnixCal.fun
UnixCal/__UnixCal.gfc
UnixCal/__UnixCal.nli
UnixCal/__UnixCal_inst.c
UnixCal/__UnixCal_pp.c
UnixCal/coverage.info
UnixCal/coverage_report/
UnixCal/report-concise.lst
UnixCal/report-initial.lst
UnixCal/report-live-equiv.lst
UnixCal/report-tests-run-original.lst